# Ignore node_modules everywhere
**/node_modules

# Ignore environment variables
**/.env
**/.env.local
**/.env.*.local

# Ignore logs
**/logs
**/*.log

# Ignore OS/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/


